pkgbase = android-camera-recorder-git
	pkgdesc = Android camera recorder.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.r0.g2b2d2ee8d18ffc62443d3ea87c97974ba759466a
	pkgrel = 1
	url = https://github.com/themartiancompany/android-camera-recorder
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = android-recorder
	depends = libcrash-bash
	depends = record-tools
	depends = tsu
	provides = android-camera-recorder=0.0.0.0.0.0.0.0.0.0.0.0.0.1.r0.g2b2d2ee8d18ffc62443d3ea87c97974ba759466a
	conflicts = android-camera-recorder
	source = android-camera-recorder.tar.gz::https://github.com/themartiancompany/android-camera-recorder/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = android-camera-recorder-git
